.container {
  width: 100%;

}

.calculater {
  border: 2px solid gray;
  background-color: black;
  border-radius: 10px;
  width: 520px;
  height: 820px;
  margin:15px auto;
  padding-top: 10px;
}

.screen {
  /* background-color: black; */
  color: white;
  font-size: 4em;
  border-radius: 5px;
  width: 90%;
  height: 200px;
  margin: 10px auto;
  text-align: right;
}


/////////////////
////////////////

.buttons {
  width: 100%;
  height: auto;

}

.numbers{
  width: 350px;
  float: left;
  margin: 5px;

}
.btn {
  width: 104px;
  height: 104px;
  margin: 5px;
  border-radius: 50px ;
  background-color: #505050;
  font-size: 3em;
  color: white;
}

#zero {
  width: 214px;
  height: 100px;
}

.topbtn{
  background-color: #D4D4D4;
  color: black;
}


.operators {
  width: 90px;
  float: right;
  margin-right: 30px;
}
.operator {
  background-color: #ff9500;
}
